html 
{
    scroll-behavior: smooth;
}
  

body
{
    background: linear-gradient(#408ec6, #1e2761, #7a2048);
    height : auto;
}



#header-block
{
    border : 2px solid #1e2761;
    height: 80px;
    background: linear-gradient(to left, #1e2761, #263280);
    margin : -10px;
    display : flex;
    justify-content: space-around;
    position : fixed;
    width : 100%;
    top : 0;
    z-index: 1;
}

.header-block__name
{
    width : 200px;
    height : 40px;
    margin-top : 20px;
    display : flex;
}

.header-block__name p
{
   color : #f5f0e1;
   font-family: 'Share Tech Mono', monospace;
   font-size: 25px;
   margin : auto;
   opacity : 0.9;
}

.header-block__name p a
{
   color : #f5f0e1;
   text-decoration: none;
}

.header-block__name p a:hover
{
   opacity : 1;
   color : #7a2048;
}





#nav-block
{
    display : flex;
    width : 500px;
    height : 80px;
    justify-content: space-around;
    margin-left : 600px;
}

#nav-block p
{
    color : #f5f0e1;
    opacity: 0.6;
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    margin : auto;
    padding-bottom: 1px;
}

#nav-block p a
{
    text-decoration : none;
    color : #f5f0e1;
}

#nav-block p:hover
{
    border-bottom : 3px solid;
    border-image: linear-gradient(90deg, #408ec6, #7a2048) 1;
    opacity : 1;
}




#section-about
{
    display : flex;
    margin-top : 80px;
    padding-top : 80px;
}

.about
{
    width : 1700px;
    height : 520px;
    margin : auto;
    display : flex;
    justify-content: space-between;
}

.about__photo img
{
    border-radius: 400px;
    width : 400px;
    height : 400px;
    margin-top : 40px;
    margin-left : 20px;
}

.about__presentation-block
{
    width : 750px;
    height : 310px;
    margin-top : 100px;
    margin-right : 120px;
}

.about__presentation-block__title
{
    width : 350px;
    color : #7a2048;
    font-family: 'Titillium Web', sans-serif;
    font-size : 40px;
    margin-top : -0.1px;
}

.about__presentation-block__my-presentation
{
    margin-top : -16px;
}

.about__presentation-block__my-presentation p
{
    font-size : 20px;
    color : #e6e1d3;
    opacity: 0.9;
    font-family: 'Pangolin', cursive;
    text-align : justify;
}



.about__presentation-block__social-media-block
{
    width: 150px;
    margin : auto;
    display : flex;
    justify-content: space-between;
}



.about__presentation-block__social-media-block__cv-logo
{
    border : 1px solid #7a2048;
    border-radius: 40px;
    width : 40px;
    height : 40px;
    background-color : #7a2048;
    display : flex;
    opacity : 0.9;
}

.about__presentation-block__social-media-block__cv-logo a
{
    text-decoration : none;
    margin : auto;
}

.about__presentation-block__social-media-block__cv-logo:hover
{
    opacity : 1;
}

.about__presentation-block__social-media-block__cv-logo a p
{
    font-size : 20px;
    margin : auto;
    color : #f5f0e1;
    font-family: 'Architects Daughter', cursive;
}

.about__presentation-block__social-media-block__github-logo
{
    opacity : 0.8;
}

.about__presentation-block__social-media-block__github-logo:hover
{
    opacity : 1;
}



#section-projects
{
    height : 550px;
    margin-top : 50px;
    padding-top : 80px;
    scroll-behavior: smooth;
}

#section-projects h1
{
    color : #f5f0e1; 
    font-family: 'Architects Daughter', cursive;
    font-size : 50px;
    text-align : center;
}



.solo-grid-projects
{
    width : auto;
    display : flex;
    justify-content: space-around;
}

.solo-grid-projects__project-block
{
    border : 1px solid rgb(255, 255, 255, 0.3);
    width : 350px;
    height : 370px;
    transition: transform .2s;
    padding-top : 20px;
}

.solo-grid-projects__project-block__title-block
{
    color : skyblue;
    font-family: 'Pangolin', cursive;
    text-align : center;
    margin : auto;
    transition: transform .2s;
}

.solo-grid-projects__project-block__title-block:hover
{
    color : #7a2048;

}

.width-title-cv-project
{
    width : 170px;
}

.width-title-tictactoe-project
{
    width : 325px;
}

.width-title-portfolio-project
{
    width : 80px;
}





.solo-grid-projects__project-block p
{
    text-align : center;
}

.solo-grid-projects__project-block__short-description-project
{
    color : #f5f0e1;
    font-family: 'Architects Daughter', cursive;
}

.solo-grid-projects__project-block__tools-project
{
    color : grey;
    font-style: italic;
    font-size: 15px;;
    font-family: 'Architects Daughter', cursive;
}



.solo-grid-projects__project-block a
{
    text-decoration : none;
}

.solo-grid-projects__project-block:hover
{
    transform: scale(1.1);
}

.solo-grid-projects__project-block__check-code
{
    font-style : italic;
    color : pink;
}

.solo-grid-projects__project-block__check-code:hover
{
    text-decoration: underline;
}

/*
#section_contact
{
    margin-top : 80px;
    padding-top : 80px;
}

#section_contact h1
{
    text-align : center;
    color : #f5f0e1; 
    font-family: 'Architects Daughter', cursive;
    font-size : 50px;
}

#section_contact .label_form
{
    color : #f5f0e1;
    font-family: 'Architects Daughter', cursive;
    font-size : 22px;
}

#form
{
    text-align : center;
}

#first_name
{
    background-color: transparent;
    color : #f5f0e1;
    border : 1px solid gainsboro;
    border-radius : 5px;
    width : 900px;
    height : 50px;
    font-size : 20px;
    margin-top : -10px;
    font-family: 'Pangolin', cursive;
    padding : 8px;
}

#last_name
{
    background-color: transparent;
    color : #f5f0e1;
    border : 1px solid gainsboro;
    border-radius : 5px;
    width : 900px;
    height : 50px;
    font-size : 20px;
    margin-top : -10px;
    font-family: 'Pangolin', cursive;
    padding : 8px;
}


#email
{
    background-color: transparent;
    color : #f5f0e1;
    border : 1px solid gainsboro;
    border-radius : 5px;
    width : 900px;
    height : 50px;
    font-size : 20px;
    margin-top : -10px;
    font-family: 'Pangolin', cursive;
    padding : 8px;
}

textarea
{
    background-color: transparent;
    color : #f5f0e1;
    border : 1px solid gainsboro;
    border-radius : 5px;
    width : 900px;
    height : 300px;
    font-size : 20px;
    margin-top : -10px;
    font-family: 'Pangolin', cursive;
    padding : 10px;
}

#send_button
{
    background-color: #408ec6;
    border: 1px solid #408ec6;
    border-radius : 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
    transition-duration: 0.4s;
    width : 150px;
    height : 50px;
}

#send_button:hover
{
    background-color : #1e2761;
    border: 1px solid #1e2761;

}

#thank_you_sent
{
    color: #f5f0e1;
    text-align : center;
    font-size: 20px;
    font-family: 'Pangolin', cursive;
}
*/

footer
{
    margin-top : 100px;
    text-align : center;
    color: white;
    opacity : 0.8;
    font-size : 12px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* responsive */
@media screen and (max-width : 1330px)
{
    #header-block
    {
        width : auto;
    }

    .about
    {
        height : auto;
        text-align : center;
        flex-direction : column;
    }

    #section_about
    {
        display : flex;
        width : auto;
    }

    .about__presentation-block
    {
        margin : auto;
    }

    .about__presentation-block__title
    {
        margin : auto;
    }

}


@media screen and (max-width : 1300px)
{

    #header-block
    {
        width : 100%;
    }

    #nav-block
    {
        margin : auto;
    }

}

@media screen and (max-width : 1180px)
{
    #section-projects
    {
        height : auto;
    }

    .solo-grid-projects
    {
        flex-direction : column;
    }

    .solo-grid-projects__project-block
    {
        margin : auto;
        margin-bottom : 50px;
    }

} 

@media screen and (max-width : 800px)
{
    .about__photo img
    {
        border-radius: 300px;
        width : 300px;
        height : 300px;
    }

    .about__presentation-block
    {
        width : auto;
    }
}

@media screen and (max-width : 720px)
{

    .header-block__name p
    {
        font-size : 20px;
    }


    #nav-block
    {
        margin : auto;
    }

} 

@media screen and (max-width : 650px)
{   
    .about__presentation-block__my-presentation p
    {
        font-size : 18px;
    }

} 

@media screen and (max-width : 560px)
{   
    .header-block__name p
    {
        display : none;
    }

} 



